/************************************************
    Tablet
 ************************************************/
 @media (max-width: 1160px) {
	.container {
		width: 100%;
	}
}


/************************************************
    Mobile
 ************************************************/
 @media (max-width: 575px) {
	.row {
		flex-wrap: wrap;
		gap: 4.5rem;
	}

}