/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    max-width: 100%;
}
figure > img {
	display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}
.lanning-bg-purple{
    background-color: #9792E4;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}


/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
}

.navbar-list {
    display: none;
    gap: 22px;
    align-items: center;
    color: #FFFFFF;
}

.menu-toggle {
	font-size: 32px;
}

/* Hero*/
.bg-color {
    background-color: var(--light-blue);
}
.button-hero     {
    color: var(--light);
    line-height: 40px;
    text-align: center;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 0 18px;
    margin-top: 20px;
}
[class^='col'] > .card {
	height: 100%;
}

.card-feature.card--landscape {
	display: flex;
	flex-wrap: wrap;
}

.card-feature.card--landscape > * {
	width: 100%;
}

.card-feature {
	background-color: var(--light-blue);
	border-radius: 20px;
}

.card-feature .card__content {
	padding: 26px 24px 34px;
	text-align: center;
    flex-wrap: wrap;
   
}

.card-feature.card--landscape .card__content {
	text-align: left;
}

.card-feature .card__title,
.card-feature i {
	color: var(--blue);
	margin-bottom: 24px;
}

.card-feature .button {
	margin-top: 24px;
}

.card-feature i {
	font-size: 48px;
}

.card-feature .card__description {
	color: var(--dark-grey);
	font-size: 14px;
	font-weight: 600;
	line-height: 2;
}

.card-feature .card__featured-image {
	padding: 0 24px;
}

.card-feature .card__featured-image img {
	width: 100%;
	max-width: 254px;
	margin: 0 auto;
    
}
.card__featured-image {
    
    align-items: flex-end;}

/* .card {
    text-align: center;
    border-radius: 50px;
    display: flex;    
    flex-direction: column;
    gap: 30px;
    padding: 30px;    

} */

/* .col-hero {
    border: 1px solid color:var(#B5DDFF);
    background-color: var(--light-blue);
    border-radius: 25px;
} */


/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



